<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <title th:text="${author.getFIO()}">fio</title>
</head>
<body>
    <a href="/author">Назад</a>
    <hr>
    <div>
        <p class="inline">ID: </p>
        <p class="inline" th:text="${author.getId()}">id</p>
    </div>
    <div>
        <p class="inline">ФИО: </p>
        <p class="inline" th:text="${author.getFIO()}">fio</p>
    </div>
    <br>
    <a class="btn" th:href="@{/author/{id}/edit (id=${author.getId()})}">Изменить</a>
    <form class="inline" th:method="delete" th:action="@{/author/{id} (id=${author.getId()})}">
        <input class="btn" type="submit" value="Удалить"/>
    </form>
</body>
</html>