<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">   
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Новая книга</title>
</head>
<body>
    <a href="/book">Назад</a>
    <hr>
    <div>
        <form method="post" th:action="@{/book}" >
            <label for="title">title: </label>
            <input name="title" type="text" id="input_title">
            <br>
            <label for="select_book_type">book_type: </label>
            <select name="book_type_id" id="select_book_type" required>
                <option th:each="book_type : ${bookTypeList}"
                    th:value="${book_type.getId()}"
                    th:text="${book_type.getName()}">name
                </option>
            </select>
            <br>
            <br>
            <label for="select_authors">authors: </label>
            <select name="author_id" multiple="multiple" id="select_authors" required>
                <option th:each="author : ${authorsList}"
                    th:value="${author.getId()}"
                    th:text="${author.getFIO()}">fio
                </option>
            </select>
            <br>
            <br>
            <label for="select_genre">genres: </label>
            <select name="genre_id" multiple="multiple" id="select_genre" required>
                <option th:each="genre : ${genresList}"
                    th:value="${genre.getId()}"
                    th:text="${genre.getName()}">name
                </option>
            </select>
            <br>
            <br>
            <label for="select_library">library: </label>
            <select name="library_id" id="select_library" required>
                <option th:each="library : ${libraryList}"
                    th:value="${library.getId()}"
                    th:text="${library.getName()}">name
                </option>
            </select>
            <br>
            <input class="btn" type="submit" value="Создать">
        </form>
    </div>
    <!-- <form method="post" th:action="@{/book}" th:object="${book}">
        <label for="surname">Фамилия: </label>
        <input type="text" th:field="*{surname}" id="surname">
        <br>
        <br>
        <label for="name">Имя: </label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <br>
        <label for="patronymic">Отчество: </label>
        <input type="text" th:field="*{patronymic}" id="patronymic">
        <br>
        <br>
        <input class="btn" type="submit" value="Создать">
    </form> -->
</body>
</html>