<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <title>Все пользователи</title>
</head>
<body>
    <a href="/home">Назад</a>
    <hr>
    <div th:each="user : ${users}">
        <a th:href="@{/user/{id}(id=${user.getId()})}" th:text="${user.getFIO()}">fio</a>
    </div>
    <div> <!-- ПОМЕНЯТЬ -->
        <h4>Должники:</h4>
        <div th:each="userBook : ${userBooks}">
            <a th:href="@{/user/{id} (id=${userBook.getUser().getId()})}" th:text="${userBook.getUser().getFIO()}">fio</a>
            <span> c </span>
            <span th:text="${userBook.getIssue_dateStr()}"></span>
            <span> до </span>
            <span th:text="${userBook.getReturn_dateStr()}"></span>
            <span> должен </span>
            <a th:href="@{/book/{vendor_code}/ (vendor_code=${userBook.getBook().getVendorCode()})}">
                <span th:text="${userBook.getBook().getTitle()}"></span> - <span th:text="${userBook.getBook().getVendorCode()}"></span>
            </a>
        </div>
    </div>
</body>
</html>
