* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=text] {
    margin: 4px;
}

a {
    color: rgb(0, 0, 192);
    font-size: medium;
}

a.btn, input[type=submit] {
    color: rgb(0, 0, 0);
    font-size: medium;
}

.btn {
    text-decoration: solid;
    background-color: #fafafa;
    margin: 4px 0px;
    padding: 4px 8px;
    border: black solid 1px;
    border-radius: 8px;
}

.btn:hover {
    background-color: #eeeeee;
}

.btn.edit:hover {
    background-color: #ccffcc;
}

.btn.delete:hover {
    background-color: #ffcccc;
}

.inline {
    display: inline;
}

h4 {
    margin: 8px auto;
}

form {
    margin-right: 8px;
}